<div id="container" class="container">
  <sidebar id="sidebar" class="sidebar">
    <nav class="menu_navigation">
      <a
        id="calendar-month-id"
        class="menu_item menu_item--active"
        onclick="route()"
        href="/calendar"
      >
        <i class="menu_icon"></i>
        <span class="menu_text">Calendar</span>
      </a>
    </nav>
  </sidebar>
  <div id="data-container" class="calendar">
    <div class="front">
      <div class="current-date">
        <h1 id="current-day">Monday 30</h1>
        <button class="add-event">
          <a onclick="route()" href="/event">+</a>
        </button>
        <button id="arrow" class="arrow"></button>
        <h1 id="currnet-month-year">January 2016</h1>
        <button id="arrow-reverse" class="arrow-reverse"></button>
      </div>
      <div class="current-month">
        <ul class="week-days">
          <li>MON</li>
          <li>TUE</li>
          <li>WED</li>
          <li>THU</li>
          <li>FRI</li>
          <li>SAT</li>
          <li>SUN</li>
        </ul>
        <div class="weeks">
          <div class="first">
            <span id="1" class="last-month">28</span>
            <span id="2" class="last-month">29</span>
            <span id="3" class="last-month">30</span>
            <span id="4" class="last-month">31</span>
            <span id="5">01</span>
            <span id="6">02</span>
            <span id="7">03</span>
          </div>
          <div class="second">
            <span id="8">04</span>
            <span id="9">05</span>
            <span id="10" class="event">06</span>
            <span id="11">07</span>
            <span id="12">08</span>
            <span id="13">09</span>
            <span id="14">10</span>
          </div>
          <div class="third">
            <span id="15">11</span>
            <span id="16">12</span>
            <span id="17">13</span>
            <span id="18">14</span>
            <span id="19" class="active">15</span>
            <span id="20">16</span>
            <span id="21">17</span>
          </div>
          <div class="fourth">
            <span id="22">18</span>
            <span id="23">19</span>
            <span id="24">20</span>
            <span id="25">21</span>
            <span id="26">22</span>
            <span id="27">23</span>
            <span id="28">24</span>
          </div>
          <div class="fifth">
            <span id="29">25</span>
            <span id="30">26</span>
            <span id="31">27</span>
            <span id="32">28</span>
            <span id="33">29</span>
            <span id="34">30</span>
            <span id="35">31</span>
          </div>
          <div class="sixth">
            <span id="36">25</span>
            <span id="37">26</span>
            <span id="38">27</span>
            <span id="39">28</span>
            <span id="40">29</span>
            <span id="41">30</span>
            <span id="42">31</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
