<div class="body-login">
  <form class="login-form" action="./" method="POST">
    <div class="login-form__logo-container">
      <img class="login-form__logo" src="../images/logo.png" alt="Logo" />
    </div>
    <div class="login-form__content">
      <form id="form-event">
        <div class="login-form__header">Schedule</div>
        <dl id="day-events" class="day-events"></dl>
        <button
          id="calendar-back-dayevent"
          class="login-form__button__login"
          type="submit"
        >
          Back
        </button>
      </form>
    </div>
  </form>
</div>
