<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/calendar.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <header>
        <span class="logo">Calendar</span>
        <nav>
            <ul class="nav__links">
                <li><a href="/" onclick="route()">Home</a></li>
                <li><a href="/calendar" onclick="route()">Calendar</a></li>
                <li><a href="/login" onclick="route()">Login</a></li>
            </ul>
        </nav>
        <button class="button-header"><a href="/register" onclick="route()">Register</a></button>
    </header>
    <main id="main-page">

    </main>
    <script src="js/router.js"></script>
</body>
</html>